 @font-face{font-family:"bdi-fa5-discord";src:url('../fonts/bdi-fa5-discord.eot');src:url('../fonts/bdi-fa5-discord.eot#iefix') format("embedded-opentype"), url('../fonts/bdi-fa5-discord.woff') format("woff"), url('../fonts/bdi-fa5-discord.ttf') format("truetype"), url('../fonts/bdi-fa5-discord.svg#bdi-fa5-discord') format("svg");font-weight:normal;font-style:normal;}.bdi-fa-fab-discord{font-family:"bdi-fa5-discord" !important;}.brilliantdiscord_discordButton .bdi-fa-fab-discord{vertical-align:middle;}.bdi-fa-fab-discord:before{content:"\f095";}
/*
     FILE ARCHIVED ON 17:06:49 Dec 22, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:28:58 Nov 05, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 109.106
  exclusion.robots: 0.105
  exclusion.robots.policy: 0.097
  RedisCDXSource: 1.243
  esindex: 0.008
  LoadShardBlock: 88.438 (3)
  PetaboxLoader3.datanode: 96.93 (4)
  CDXLines.iter: 16.669 (3)
  load_resource: 94.211
  PetaboxLoader3.resolve: 64.298
*/